/packages
/Tapai.Service/obj
/Tapai.Service/*.back
/Tapai.Service/bin
/Tapai.Service.BLL/bin
/Tapai.Service.BLL/obj
/Tapai.Service.Common/obj
/Tapai.Service.Common/bin
/Tapai.Service.DAL/obj
/Tapai.Service.DAL/bin
/Tapai.Service.Model/obj
/Tapai.Service.Model/bin
/Tapai.Service.WinForm/obj
/Tapai.Service.WinForm/bin
/.vs/Tapai.Service/v16/.suo
/.vs/Tapai.Service/v16/Server/sqlite3/db.lock
/.vs/Tapai.Service/v16/Server/sqlite3/storage.ide
/.vs/Tapai.Service/v16/Server/sqlite3/storage.ide-shm
/.vs/Tapai.Service/v16/Server/sqlite3/storage.ide-wal
