<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="interval" value="1440"/>
    <add key="WeChatAppId" value="wxce152943161a1ee1"/>
    <add key="WeChatSecret" value="2d60e8636fb26828b7b042f0d10d631c"/>
    <add key="WeChatToken" value="caoqu2019" />
    <add key="remind_template_message" value="Uze-Rz2MlgtEhn9pq5ZH6oYe_zXycCKmbW-2fUjVv6s"/>
    <add key="remind_template_message_content" value="{0}年{1}月{2}日前积分将在{3}年{4}月{5}日清零，您有{6}积分即将在{3}年{4}月{5}日清零，请您及时使用"/>
    <add key="every_count" value="10000"/>
    <add key="web_server_url" value="http://service.tapaicable.com"/>
    <add key="remind_week" value="2"/>
    <add key="remind_week_hour" value="15"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="server=119.23.244.162;uid=tapai;pwd=taPai1939;database=tapaicms;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>