<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="interval" value="1"/>
    <add key="WeChatAppId" value=""/>
    <add key="WeChatSecret" value=""/>
    <add key="remind_template_message" value=""/>
    <add key="remind_template_message_content" value="{0}年{1}月{2}日前积分将在{3}年{4}月{5}日清零，您有{6}积分即将在{3}年{4}月{5}日清零，请您及时使用"/>
    <add key="every_count" value="10000"/>
    <add key="web_server_url" value="http://weixin.tapaicable.com"/>
    <add key="remind_week" value="3"/>
    <add key="remind_week_hour" value="7"/>
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.10.10.210;Initial Catalog=TapaiCMS;user=sa; pwd=59bang.com;Integrated Security=false;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>